<section class="block">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">hi</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda iusto laudantium possimus, cumque odio quas tempora.
                Doloremque dolorem velit nemo.
            </p>
        </header>
        <div style="width: 30%; margin: 10px">
            <div class="card card--primary">
                <header class="card__header">Card Title</header>
                <div class="card__body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Esse, voluptatum.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">hi</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda iusto laudantium possimus, cumque odio quas tempora.
                Doloremque dolorem velit nemo.
            </p>
        </header>
    </div>
</section>
